package com.miz.${project}.service.atom;

import com.miz.${project}.entity.${entity};

/**
 * Created by ${creator}.
 * Date: ${create_date}.
 * Description:
 */
public interface ${entity}Service {

}